.board {
  display: flex;
  flex-wrap: wrap;
  width: 302px;
  height: 602px;
  border: 1px solid;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid;
}

.mino {
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 10px ridge;
}
